body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body::-webkit-scrollbar{
  width: 10px;
  background-color: #fff;
  z-index: -1;
}

body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 99em;
  border: 16px solid #414141;
  z-index: -1;

}

/* ESTILOS GENERALES */
